@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --zima-blue: #5BC2E7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-zima-blue: var(--zima-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
